.signup-form p {
    text-align: center;
    font-size: 35px;
}

.signup-form > form {
    display: flex;
    row-gap: 30px;
    flex-direction: column;
}

.signup-form > form input[type="text"], .signup-form > form input[type="email"], .signup-form > form input[type="password"] {
    width: 99%;
    font-size: 20px;
    border: 0;
    border-bottom: 1px solid silver;
    padding: 5px;
}

.signup-form > form select {
    border: 1px solid silver;
    background-color: white;
    font-size: 20px;
    max-width: 400px;
}

.nmec-input {
    width: 70px !important;
    text-align: center;
}

.members {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

.members > div:first-child {
    font-size: 25px;
}

.members > div {
    display: flex;
    column-gap: 10px;
}

.members > div:not(.add-member) {
    padding: 10px 0;
}

.signup-form input[type="submit"] {
    font-size: 20px;
    padding: 5px;
    border: 1px solid silver;
}

.add-member {
    font-size: 18px;
    padding: 5px;
}

.remove-member {
    position: relative;
    padding: 17px;
}

.remove-member > div div {
    width: 26px;
    height: 2px;
    background-color: black;
    width: 30px;
}

.remove-member > div div:nth-child(1) {
    rotate: 45deg;
}

.remove-member > div div:nth-child(2) {
    rotate: -45deg;
    margin-top: -2px;
}

.separator {
    margin: 25px 0;
}

.team {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.admin {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}