.list {
    border: 1px solid silver;
}

.list > a {
    text-align: center;
    padding: 20px 30px;
    font-size: 40px;
    width: 500px;
    display: block;
}

.list > a:not(:last-child) {
    border-bottom: 1px solid silver;
}

a {
    text-decoration: none;
    color: inherit;
}